---
import type { HTMLAttributes } from 'astro/types';
import { withBase } from '../utils/slugify';

type Props = HTMLAttributes<'a'> & {
	activeClass?: string;
};

const { href, class: className, activeClass = 'text-ink underline', ...props } = Astro.props;

const pathname = Astro.url.pathname;
const newhref = href ? withBase(href) : withBase('/');
const isActive = href ? pathname === newhref || pathname === `${newhref}/` : false;

---

<a href={newhref} class:list={[className, isActive && activeClass]} {...props}>
	<slot />
</a>