---
import { getSite } from '../utils/consts';

const site = await getSite();
const social: Array<{ id: string; label: string; href: string }> = (site.social || []) as Array<{ id: string; label: string; href: string }>;

export interface Props {
  heading?: string;
  class?: string;
}

const { heading = 'Socials', class: className = '' } = Astro.props as Props;
---

<section class={className}>
  <div class="max-w-360 mx-auto px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200">
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <h2 class="text-sm 2xl:text-xl text-base-900 font-bold uppercase">{heading}</h2>
      </div>

      <div class="flex flex-col gap-2 lg:col-span-2">
        {social.map((s: { id: string; label: string; href: string }) => (
          <a
            class="text-xs 2xl:text-lg text-base-900 hover:text-base-500 font-bold uppercase"
            href={s.href}
            target={s.href && !s.href.startsWith('#') && !s.href.startsWith('mailto:') ? '_blank' : undefined}
            rel={s.href && !s.href.startsWith('#') && !s.href.startsWith('mailto:') ? 'noreferrer' : undefined}
          >
            {s.label}
          </a>
        ))}

        <slot />
      </div>
    </div>
  </div>
</section>
