---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { getSite } from '../utils/consts';

interface Props {
	title?: string;
	description?: string;
	image?: ImageMetadata;
}

const site = await getSite();
const { title = site.author.name, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body>
        <Header />
        <main class="content-shell">
            <slot />
        </main>
        <Footer />
    </body>
</html>