---
import BaseLayout from './BaseLayout.astro';

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="flex flex-col pb-16 min-h-[calc(100vh-var(--grid-cell)*2)]">
        <slot />
    </div>
</BaseLayout>